<!-- Copyright (c) Microsoft Corporation. All rights reserved. Licensed under the MIT license. -->
<!-- See LICENSE in the project root for license information. -->

<%= content_for :title, 'Admin Consent - EDUGraphAPI' %>

<% content_for :user_login_info do %>
    <%= render 'common/user_login_info'  %>
<% end %>

<% content_for :header_list do %>
  <%= render 'common/header_list' %>
<% end %>

<% if flash[:notice] %>
    <div class="message-container bg-success" style="display: block;">
        <p><%= flash[:notice] %></p>
    </div>
<% end %>

<h2>Admin Consent</h2>
<hr />
<form action="/admin/consent" method="post">        
  <p>To use this application in this tenancy you must first provide Admin Consent. </p>
  <p>Please click the button below to proceed.</p>
  <p class="form-group">
    <input type="submit" value="Consent" class="btn btn-primary" />
  </p>
</form>