<!-- Copyright (c) Microsoft Corporation. All rights reserved. Licensed under the MIT license. -->
<!-- See LICENSE in the project root for license information. -->

<li>
	<a href="/schools">Home</a>
</li>

<% if (defined? school) && school  %>
 	<li><a href="/schools/<%= school.object_id %>/classes">Classes</a></li>
	<li><a href="/schools/<%= school.object_id %>/users">Teachers & Students</a></li>
<% end %>

<% if current_user.is_admin? %>
	<li><a href="/admin">Admin</a></li>
<% end %>